body {
    background-color: rgb(210,210,210);
    margin: 0px;
}

.plan, .week, .workout {
    border: 1px solid black;
}

.banner {
    width: 100vw;
    background-color: green;
    margin: 0px;
    padding: 20px;
}

.main {
    margin: 20px;
}

.table-container {
    width: 100%;
    overflow-x: auto; /* Enables horizontal scrolling */
}

table {
    width: 100%;
    table-layout: auto; /* Optional: controls how table behaves if it overflows */
    white-space: nowrap; /* Prevents text from wrapping, which could cause the table to grow */
}

tr {
    border: 1px solid black;
}