body {
    background-color: rgb(210,210,210);
    margin: 0px;
}

.plan, .week, .workout {
    border: 1px solid black;
}

.banner {
    width: 100vw;
    background-color: green;
    margin: 0px;
    padding: 20px;
}

.main {
    margin: 20px;
}

.table-container {
    width: 100%;
    overflow-x: auto; /* Enables horizontal scrolling */
}

table {
    width: 100%;
    table-layout: auto; /* Optional: controls how table behaves if it overflows */
    white-space: nowrap; /* Prevents text from wrapping, which could cause the table to grow */
    border-collapse: collapse;
    border: 2px solid black !important;
}

tr:nth-child(even) {
    background-color: #8a8a8a; /* Light grey color for even rows */
  }

td {
    padding: 12px 0px; /* Remove padding to eliminate extra space inside cells */
    border: 1px solid black; /* Add border to visualize cell boundaries */
}